html, body{
    margin: 0;
    padding: 0;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}


button{
    padding: 8px 20px;
    margin-left: 4px;
    cursor: pointer;
    background: #ccc;
    border: 1px solid #ddd;
}

input[type="text"]{
    padding: 8px 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

.m-items-container{
    margin: 20px;
}
.m-items-container .list{
    margin-bottom: 8px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px dashed #ddd;
    overflow: hidden
}
.m-items-container .list.warn {
    color: red
}

.m-items-container .list button{
    float:right;
}

.m-add-form,
.m-search-form{
    position: relative;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px dashed #ddd;
}
.m-search-form .clear-searchWord{
    display: none;
    position: absolute;
    left: 182px;
    top: 26px;
    width: 20px;
    height: 20px;
    background: #eee;
}
